*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

}

.container{
  justify-content: center;
  background-color: beige;
  max-width: 1000px;
  min-height: 100vh;
  padding: 30px;
  margin: 30px auto;
  border-radius: 20px;
}

h2{
  text-align: center;
}
.recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

}
.card{
  width: 200px;
  background-color:white;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 10px;

}

.card-image{
  width: 100%;

}

.card-body{
  padding: 10px;
  text-align: center;

}

.category{
  color: #a1a1a1;
}

a{
  background-color: burlywood;
  color: inherit;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;

}